body {
    background-color: #1F2933;
    font-family: cursive;
}

.sidebar {
    background-color: #19222b; /* Darker background */
    box-shadow: 0px 10px 10px #5DA9E9;
    height: 100%;
    width: 230px; /* Sidebar width */
    position: fixed;
    padding-top: 20px;
    transition: 0.3s;
    top: 0;
    left: 0;
}

.sidebar h2 {
    color: white;
    padding-left: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
}

.sidebar ul li a {
   padding: 10px 20px;
   text-transform: uppercase;
   text-decoration: none;
   border-bottom: 1px solid #5DA9E9;
   font-size: 18px;
   font-weight: 500;
   color: #ffffff;
   text-shadow: none;
   background: transparent;
   cursor: pointer;
   box-shadow: transparent;
   transition: 0.5s ease;
   user-select: none;
}

/* Hover Effect */
.sidebar ul li a:hover {
   color: #ffffff;
   background: #5DA9E9;
   border-radius: 50px 0;
   text-shadow: 
   0 0 5px #ffffff,
   0 0 10px #ffffff;
   box-shadow: 
   0 0 5px #5DA9E9,
   0 0 20px #5DA9E9,
   0 0 50px #5DA9E9;
}

/* Active/Clicked Effect */
.sidebar ul li a:active {
    background-color: #CBD2D9;
    color: #101820; /* Dark text for contrast */
}

h1 {
    font-family: cursive;
    font-size: 40px;
    color: #fff;
    text-shadow: 
    0 0 7px #fff,
    0 0 42px #5DA9E9,
    0 0 77px #5DA9E9;
}

h2{
    font-family: cursive;
    font-size: 20px;
    color: #fff;
}

main {
    margin-left: 220px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #525c63;
}

input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 
    0 0 7px #fff,
    0 0 42px #5DA9E9,
    0 0 77px #5DA9E9;
}

.grid {
    background-color: #19222b;
    border-radius: 30px;
    margin-left: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 50px;
    scroll-snap-type: none;
}

.grid::-webkit-scrollbar{
    display: none;
}

.box {
    background: #1F2933;
    color: white;
    box-shadow: 0px 10px 10px #5DA9E9;
    height: 200px;
    min-width: 200px;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 50px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    text-shadow: 
   0 0 5px #ffffff,
   0 0 10px #ffffff;
   box-shadow:
   0 0 5px #5DA9E9,
   0 0 20px #5DA9E9;
}

.box:active {
    background-color: #0e1b27;
}

.box img {
    border-radius: 30px;
    width: 170px; /* Adjust image size */
    height: 150px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.box h3 {
    margin: 0;
    padding: 5px 0;
    font-size: 1rem;
    color: #ffffff;
}