/* Global style  */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    padding: 20px;
    line-height: 1.7;
    background-image: url("https://i.pinimg.com/236x/51/ff/82/51ff8270b6412e693391a66dd1ac97fe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: #d9cdc0;
    margin-bottom: 20px;
    text-align: center;
}

header img {
    border-radius: 50px;
    border: 15px solid #c7b7ad;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
    color: #8B4513;
    border-bottom: 3px solid #8B4513;
    margin-bottom: 40px;
}

.description, .ingredients, .method, .tips, .video-container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
    background-color: #f8e8d7;
    border: 5px solid #9C6644;
    border-radius: 70px;
    margin-bottom: 60px;
    margin: 40px auto;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 90%;
}

.ingredients img{ 
    width: 100%;
    height: auto;
    margin: 5px;
    border-radius: 50px;
    box-shadow: 20px 15px 5px  rgba(0, 0, 0, 0.1);
}

.ingredients ul {
    list-style-type: square;
    padding-left: 70px;
}

.ingredients li {
    padding: 6px;
}

ol {
    list-style: none;
    counter-reset: step-counter ;
    padding-left: 0;
}

ol li h3 {
    font-size: 1.7rem;
    color: #5A3E36;
    border-bottom: 3px solid #5A3E36;
    margin-bottom: 10px; 
    text-align: center;
}

ol li::before {
    content: "Step " counter(step-counter) ": ";
    font-weight: bold;
    color: #8B4513;
    font-size: 1.7rem;
}

ol li {
    display: flex;
    flex-direction: column;
    background: #f9f1ec;
    border: 5px solid #8B4513;
    border-radius: 50px;
    padding: 15px;
    align-items: center;
    margin-bottom: 50px; 
    margin: 80px; 
    box-shadow: 20px 15px 5px  rgba(0, 0, 0, 0.1);
    counter-increment: step-counter;
}
 
ol li img {
    width: 90%;
    max-width: 400px;
    height: 500px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 20px 15px 5px  rgba(0, 0, 0, 0.1);    
}

ol li p {
    font-size: 1.4rem;
    text-align: center;
    margin: 8px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-wrapper iframe {
    width: 80%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    border: none;
    box-shadow: 20px 15px 5px rgba(0, 0, 0, 0.1);
}

.tips ul {
    list-style-type: square;
    padding-left: 70px;
}

.tips li {
    font-size: 1.4rem;
    margin-bottom: 8px;
    padding: 10px;
}

.recipe-details {
    background-image: url("https://i.pinimg.com/736x/22/4d/4b/224d4b398888ae6b9457b48201b58853.jpg");
    background-size: cover;
    background-color: #f4dfda;
    padding: 20px;
    margin: 70px ;
    border-radius: 10px;
    text-align: center;
}

.recipe-image {
    width: 100%; /* Adjust as needed */
    max-width: 300px;
    height: auto;
    border: 3px solid rgb(190, 159, 146);
}

.recipe-text { 
    font-size: 20px;
    font-weight: bold;
}

.time-info p {
    font-size: 1.1rem;
    margin: 5px 0;
    font-weight: bold;
}

.button a {
    display: inline-block;
    background-color: #562d15;
    border-radius: 25px;
    font-weight: bold;
    color: aliceblue;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.button a:hover {
    background-color: #5e4117f9;
    transform: scale(1.05);
}

footer {
    text-align: center;
    background: #533016;
    color: white;
    padding: 20px;
    font-size: 1rem;
    border-top: 3px solid #9C6644;
    border-left: 3px solid #9C6644;
    border-right: 3px solid #9C6644;
}
